* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.iconerick {
  width: 40px;
  margin-top: 15px;
  margin-left: 5px;
}
.headertop {
  height: 300px;
}

#title-api {
  font-size: 5rem;
  color: #105718;
  font-weight: 800;
}
.background-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/FUNDO_2.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 600px;
  padding-top: 30px;
}

.buttonPagenation {
  height: 50px;
}

.container-cards {
  width: 80vw;
  display: flex;
  justify-content: center;
}

.character-card {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
  width: 400px;
}

footer {
  background-color: rgb(19, 18, 18);
  height: 400px;
}

.card {
  width: 25rem;
}

.nomehover:hover {
  color: #ff9800;
}
.nomehover {
  cursor: pointer;
}
.card-title {
  color: white;
}

#personagens,
#episodios,
#localizacoes,
#developer {
  font-size: 1.5rem;
  color: #4d9f4b;
  font-weight: bold;
}
.developer {
  margin-top: 150px;
}
.fontwhite {
  color: white;
}

.nomehovermodal:hover {
  color: #ff9800;
}
.fontmodal {
  color: white;
}
.colormodal {
  background-color: #2b3035;
}
