* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.iconerick {
  width: 35px;
  margin-top: 5px;
  margin-left: 5px;
}

#title-api {
  font-size: 55px;
  color: green;
}
.background-container {
  display: flex;
  justify-content: center;
  background-image: url(../images/FUNDO_2.jpg);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 500px;
  padding-top: 30px;
}
.container-cards {
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
}

.character-card {
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.character-card img {
  border-radius: 5px;
  width: 266px;
  height: auto;
  margin-bottom: 1rem;
}

.character-card p {
  margin-left: 10px;
  color: white;
}
footer {
  /* width: 100vw; */
  background-color: rgb(19, 18, 18);
  height: 200px;
}

.character-card h5 {
  margin-left: 10px;
  color: white;
}
